.menu{
    width: 20%;
    height:  calc(100vh - 64px);
    background-color: aqua;
    float: right;
    margin-right: 40px;
}

.ads{
    width: 70%;
    height:calc(100vh - 64px);;
    background-color: burlywood;
    margin-top: 32px;
    margin-left: 40px;
    padding-left: 50px;
    overflow: scroll;
    
}
.ads::-webkit-scrollbar{
    display: none;
}

.ad{
    width: 28%;
    height: 184px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #fff;
    float: left;

}